{% extends 'base.html' %}
{% block title %}
dodawanie produktu
{% endblock %}
{% block content %}

<form action="" method="post" novalidate>
    {% csrf_token %}

    {{ form }}
    <button type="submit">Dodaj</button>

</form>

{% endblock %}



    <!-- <input type="text" name="name" id="" value= "{{ name }}" >
    {% if errors.name  %}
    <p> {{ errors.name }}</p>
    {% endif %}

    <input type="text" name="quantity" id="" value= "{{ quantity }}" >
        {% if errors.quantity  %}
    <p> {{ errors.quantity }}</p>
    {% endif %}
    <button type="submit">Dodaj</button> -->