{% extends 'base.html' %} {% block title %} Edytowanie produktu: {{ product.name
}} {% endblock %} {% block content %} Edytowanie produktu: {{ product.name }}
<br />
<form action="" method="post">
  {% csrf_token %}
  <input type="text" name="name" value="{{name}}" /> <br />
      {% if errors.name  %}
    <p> {{ errors.name }}</p>
    {% endif %}
  <input type="text" name="quantity" value="{{quantity}}" /> <br />
  <button>
            {% if errors.quantity  %}
    <p> {{ errors.quantity }}</p>
    {% endif %}
    <nav><a href="{% url 'product_list' %}">anuluj</a></nav>
  </button>
  <button type="submit">Wyślij</button>
</form>
{% endblock %}
