<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Strona Base {% endblock %}</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    zalogowano jako {{ request.user.username }}
    <form action="/accounts/logout/" method="post">
        {% csrf_token %}
        <button type="submit">wyloguj</button>
    </form>

    {% else %}
    Niezalogowano

            <a href="/accounts/login/">
                Zaloguj
            </a>

    {% endif %}
    <nav>  <a href="/products/"> Lista produktów  </a></nav>

    {% block content %} {% endblock %}
    <footer><h3>to jest stopka</h3></footer>
</body>
</html>